<footer class="panel" id="footer">

  <div id="signup-ribbon">
    <div class="grid-container fluid">
      <div class="grid-x grid-margin-x align-middle">
        <div class="cell auto">
          <p>Sign up and get a complimentary session</p>
        </div>
        <div class="cell shrink">
          <a href="{{ site.baseurl }}/signup" class="button large">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-navigation">
    <div class="grid-container fluid">
      <div class="grid-x grid-margin-x">
        <div class="cell xxlarge-4 small-6">
          <nav class="navigation">
            <ul class="no-bullet">
              <li><a href="{{ site.baseurl }}/services">Services</a></li>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
              <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
              <li><a href="{{ site.baseurl }}/testimonials">Testimonials</a></li>
              <li><a href="{{ site.baseurl }}/recruitment">Work with us</a></li>
            </ul>
          </nav>
        </div>
        <div class="cell xxlarge-4 small-6">
          <p><strong>Contact Us</strong></p>
          <p><a href="mailto:info@medsplained.org">info@medsplained.org</a></p>
          <p class="margin-top-3"><strong>Connect</strong></p>
          <ul class="menu simple">
            <li><a href="http://medsplained.org/#"><img src="{{ '/assets/img/social-facebook.png' | relative_url }}" width="32" height="32"></a></li>
            <li><a href="https://twitter.com/medsplained"><img src="{{ '/assets/img/social-twitter.png' | relative_url }}" width="32" height="32"></a></li>
            <li><a href="http://www.linkedin.com/company/medsplained"><img src="{{ '/assets/img/social-linkedin.png' | relative_url }}" width="32" height="32"></a></li>
            <li><a href="https://www.instagram.com/medsplained"><img src="{{ '/assets/img/social-instagram.png' | relative_url }}" width="32" height="32"></a></li>
            <!-- <li><a href="#youtube"><img src="{{ '/assets/img/social-youtube.png' | relative_url }}" width="32" height="32"></a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="grid-container fluid">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="copyright">
            <p>Medsplained &copy; 2019  |  <a href="{{ site.baseurl }}/terms">Terms &amp; Conditions</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
