<meta name="keywords" content="med-tech, pharmaceutical, device, medical, diagnosis, surgery, operation"/>
<meta name="description" content="Medicine explained"/>

<!-- facebook -->
<meta property="og:title" content="Medsplained">
<meta property="og:description" content="Medicine explained">
<meta property="og:image" content="https://medsplained.org/assets/img/facebook-card.gif">
<meta property="og:url" content="https://medsplained.org">

<!-- twitter -->
<meta name="twitter:title" content="Medsplained">
<meta name="twitter:description" content="Medicine explained">
<meta name="twitter:image" content="https://medsplained.org/assets/img/twitter-card.gif">
<meta name="twitter:card" content="summary_large_image">