#about {

  #landing {
    @include breakpoint(xlarge down) {
      padding-top: 0;
    }
  }

  .team {
    margin-top: 1rem;
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width: 128px;
      height: auto;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50% 50%;
      overflow: hidden;
    }
  }

  .adam-tanious {
    background-image: url('../img/about/adam-tanious.jpg');
  }

  .alexander-tanious {
    background-image: url('../img/about/alexander-tanious.jpg');
  }

  .joel-pietropaolo {
    background-image: url('../img/about/joel-pietropaolo.jpg');
  }

  .laura-boitano {
    background-image: url('../img/about/laura-boitano.jpg');
  }

  .mariah-tanious {
    background-image: url('../img/about/mariah-tanious.jpg');
  }

  .shant-hagopian {
    background-image: url('../img/about/shant-hagopian.jpg');
  }
}