#signup {

  .required {
    color: #ed1c24;
    &:after {
      content: "*";
    }
  }

  input, select {
    border-color: #e1e1e1;
    background: #fafafa;
    box-shadow: 0 0 0 transparent;
  }

  .button {
    border-color: #e1e1e1;
    background: #fafafa;
    color: #000;

    &.active {
      color: #1c2ae5;
      border-color: #1c2ae5;
      background-color: #fff;
    }
  }

  .button.signup {
    border-color: #1c2ae5;
    background: #1c2ae5;
    color: #fff;
  }
}